.seanhuggins-image img {
    border-radius: 50%;
  }

.categories__socials {
    gap: 3rem;
  }

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

/* .youtube__right {
  transform: scale(0.7);
  overflow: hidden;
} */

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
  }

.video-container iframe, 
.video-container object, 
.video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}


/* ======================= MEDIA QUERIES (TABLETS) ===============*/

@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md)
  }

  h1 {
      font-size: 2.2rem;
  }

  h2 {
      font-size: 1.7rem;
  }

  h3 {
      font-size: 1.4rem;
  }

  h4 {
      font-size: 1.2rem;
  }
}

/*  ================  CATEGORIES  ================== */
.blog__posts {
  height: auto;
}

.blog__posts__container {
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.blog__posts__left {
  margin-right: 0;
}

.blog__posts__right {
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}

/* ======================= MEDIA QUERIES (MOBILE) ===============*/

@media screen and (max-width: 800px) {
  .container {
      width: var(--container-width-sm);
  }


/* ================ CATEGORIES ================ */
.blog__posts__container {
  grid-template-columns: 1fr;
  text-align: center;
}


.blog__post {
  padding: 1rem;
  border-radius: 1rem;
}

}