.seanhuggins-image img {
    border-radius: 50%;
  }

  .about__achievements {
    margin-top: 3rem;
}

.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achievements-right > p {
  margin: 1.6rem 0 2.5rem;
}

.categories__socials {
    gap: 3rem;
  }

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

/* .youtube__right {
  transform: scale(0.7);
  overflow: hidden;
} */

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
  }

.video-container iframe, 
.video-container object, 
.video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}


/*  ================  CATEGORIES  ================== */
.blog__posts {
  padding: 0%;
}

.blog__posts__container {
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.blog__posts__left {
  margin-right: 0;
}

.blog__posts__right {
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}



/* ======================= MEDIA QUERIES (TABLETS) ===============*/

@media screen and (max-width: 1024px) {
  .about__achievements {
      margin-top: 2rem;
  }

  .about__achievements-container {
      grid-template-columns: 1fr;
      gap: 4rem;
  }

  .about__achievements-left {
      width: 80%;
      margin: 0 auto;
  }

  .about__achievements-right {
    text-align: center;
  }

  .achievements__cards {
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .seanhuggins-image {
    max-width: 50%;
  }

}

/* ======================= MEDIA QUERIES (MOBILE) ===============*/

@media screen and (max-width: 600px) {

  .achievements__cards {
      grid-template-columns: 1fr 1fr;
      gap: 0.7rem;
  }

}


